
<h1 style="color: orangered;font-weight:bold" > Minha Calculadora</h1>

<h3>valor1</h3><input type="number" id="valor1" />

<h3>valor2</h3><input type="number" id="valor2" />

<h3>Operacao</h3>
<button onclick="Soma()">+</button>
<button onclick="Subtrair()">-</button>
<button onclick="Multiplicar()">x</button>
<button onclick="Dividir()">/</button>


<h3>Total</h3>
<input type="number"  id="total"/>
